<div class="team_index">

  <%# 左側のメニューバー %>
  <div class="team_menu_bar">
    <h4 class="menu_title"><span class="menu_title_str">Menu</span></h4>
    <%= link_to "通知", "#", class:"team_menu"%>
    <%= link_to "案件一覧", matters_path, class:"team_menu"%>
    <%= link_to "商談中", "#", class:"team_menu"%>
    <%= link_to "ToDoリスト", "#", class:"team_menu"%>
    <%= link_to "コンタクト履歴", "#", class:"team_menu"%>
    <%= link_to "チーム作成", new_team_path, class:"team_menu"%>  <%# 後に権限持っている人のみ、作成できる様にする %>
  </div>
  <%# /左側のメニューバー %>

  <div class="team_main_contents">
  
    <%= form_with url:"#", class:"search_form_area", local: true do |f|%>
    <div class="team_main_content">
      <h3><span class="title">案件を検索する</span></h3>
      <div class="search_forms_upper">
        <div class="search_form">
          <div class="search_label"><%= f.label :hoge,"電話番号" %></div>
          <div><%= f.text_field :hoge, class:"search_input", placeholder:"ハイフン不要"%></div>
        </div>
        <div class="search_form">
          <div class="search_label"><%= f.label :hogehoge,"お客様名" %></div>
          <div><%= f.text_field :hogehoge, class:"search_input", placeholder:"カタカナで入力可"%></div>
        </div>
      </div>
      <div class="search_forms_upper">
        <div class="search_form">
          <div class="search_label"><%= f.label :fuga,"案件名" %></div>
          <div><%= f.text_field :fuga, class:"search_input", placeholder:"カタカナで入力可"%></div>
        </div>
        <div class="search_form">
          <div class="search_label"><%= f.label :fugafuga,"担当者" %></div>
          <div><%= f.text_field :fugafuga, class:"search_input", placeholder:"カタカナで入力可"%></div>
        </div>
      </div>
      <%= f.submit "検索する", class:["team_submit_btn", "search_submit_btn"]%>
    </div>
    <% end %>


    <div class="team_main_content">
      <h1><span class="title">今日やること・明日やること</span></h1>
      <div class="todo_lists">
        <div class="todo_list">
          <div class="todo_day">今日</div>
          <div>〇〇案件の必要書類を作成する</div>
          <div>〇〇案件の必要書類を作成する</div>
          <div>〇〇案件の必要書類を作成する</div>
          <div>〇〇案件の必要書類を作成する</div>
        </div>
        
        <div class="todo_list">
          <div class="todo_day">明日</div>
          <div>〇〇案件の見学準備を行う</div>
          <div>〇〇案件の見学準備を行う</div>
          <div>〇〇案件の見学準備を行う</div>
          <div>〇〇案件の見学準備を行う</div>
        </div>
      </div>
    </div>

  </div>
</div>