<%# トップの写真 %>
<div class="main_pic">
  <%= image_tag "main.jpg", alt: "Main pic", class:"picture"%>
  <H1 class="main_str">あなたの活動、支援します</H1>
</div>
<%# /トップの写真 %>

<%# SHIENの紹介 %>
<%# about shien %>
<div class="about_shien">
  <H1 class="title_area"><span class="title">About SHIEN</span></H1>
  <p class="about_shien_text">SHIENは顧客管理を支援するツールです。<br>雑務を気にせず、商談のチャンスを掴めるよう支援します。</p>
</div>
<%#/ about shien %>

<%# features %>
<div class="features">
  <H1 class="title_area"><span class="title">Features</span></H1>
  <p class="about_shien_text">SHIENができることを紹介します。</p>

  <div class="feature">
    <div class="image_side">
      <H2 class="title_area"><span class="title">1、 案件管理</span></h2>
      <p class="feature_text">案件に関する情報を管理できます。<br>案件名や、住所、先方の名前など。<br>先方の趣味も残しておくこともできます。</p>
    </div>
    <div class="text_side"><%= image_tag "feature1.png", alt: "Main pic", class:"f_picture"%></div>
  </div>
  <div class="feature">
    <div class="text_side"><%= image_tag "feature4.png", alt: "Main pic", class:"f_picture"%></div>
    <div class="image_side">
      <H2 class="title_area"><span class="image_title"><span class="title">2、 コンタクト履歴</span></h2>
      <p class="feature_text">お客様から問い合わせを受ける人は、あなただけではありません。<br>SHIENを使用しているメンバーなら、<br>誰でも問い合わせ内容を残せます。</p>
    </div>
  </div>
  <div class="feature">
    <div class="image_side">
      <H2 class="title_area"><span class="title">3、 通知機能</span></h2>
      <p class="feature_text">コンタクト履歴が追加されると、担当者に通知が行きます。<br>忙しい中でも、対応を忘れぬよう支援します。</p>
    </div>
    <div class="text_side"><%= image_tag "feature2.png", alt: "Main pic", class:"f_picture"%></div>
  </div>
  <div class="feature">
    <div class="text_side"><%= image_tag "feature3.png", alt: "Main pic", class:"f_picture"%></div>
    <div class="image_side">
      <H2 class="title_area"><span class="title">4、 データ抽出機能</span></h2>
      <p class="feature_text">任意のデータをcsv出力することができます。<br>データ抽出は簡単に、<br>そして直感的に操作できます。</p>
    </div>
  </div>
</div>
<%#/ features %>
<%#/ SHIENの紹介 %>

<div class="go_shien">
  <H1><span class="title">こちらからSHIENを体験できます</span></H2>
  <%= link_to "体験する（ゲストログイン1）", users_guest_sign_in_path, method: :post, class:"bottom_sign_in_btn"%>
</div>