<div class="team_menu_bar">
  <h4 class="menu_title"><span class="menu_title_str">Menu</span></h4>
  <%if @notifications_false == 0%>
    <%= link_to "通知", notifications_path, class:"team_menu"%>
  <%else%>
    <%= link_to "通知(#{@notifications_false})", notifications_path, class:["team_menu", "noti_int"]%>
  <%end%>
  <%= link_to "案件一覧", matters_path, class:"team_menu"%>
  <%= link_to "新規案件作成", new_matter_path, class:"team_menu"%>
  <h5 class="menu_title"><span class="menu_title_str">管理者Menu</span></h5>
  <%= link_to "チーム作成", new_team_path, class:"team_menu"%>  <%# 後に権限持っている人のみ、作成できる様にする %>
</div>