<div class="matter_contents">
  <%= render 'share/menu_bar.html.erb'%>
  <div class="matter_side">
    <%= form_with model:@car, class:["matter_new_edit_forms","h-adr"], local: true do |f|%>
    <span class="p-country-name" style="display:none;">Japan</span>
    <div class="matter_new_edit_form_side">
      <h1 class="new_matter"><span class="title">新規車両作成</span></h1>
      <h4>各項目を入力し、新規車両を作成しましょう。</h4>
    
        <div class="field">
          <div class="colmun">
            <div><span class="must">必須</span></div>
            <%= f.label :name, "車両名" %>
          </div>
          <%= f.text_field :name, class:"new_form_input", autofocus: true %>
        </div>

        <div class="with_announce">
          <div class="colmun">
            <div><span class="must">必須</span></div>
            <%= f.label :vehicle_number, "車体番号" %>
          </div>
          <%= f.text_field :vehicle_number, class:"new_form_input", autofocus: true, placeholder:"例）GT7000001" %>
          <div><span class="announce">※半角英数字のみ使用できます。</span></div>
        </div>

        <div class="field">
          <div class="colmun">
            <div><span class="optional">任意</span></div>
            登録番号（<%= f.label :transport_bureau, "運輸局" %>、<%= f.label :class_number, "分類番号" %>、<%= f.label :registration_type, "登録種別" %>、<%= f.label :registration_number, "登録番号" %>）
          </div>
          <div class="registration_num_upper">
            <%= f.text_field :transport_bureau, class:"transport_bureau", autofocus: true, placeholder:"伊勢志摩" %>
            <%= f.text_field :class_number, class:"class_number", autofocus: true, placeholder:"503" %>
          </div>
          <div class="registration_num_lower">
            <%= f.text_field :registration_type, class:"registration_type", autofocus: true, placeholder:"わ" %>
            <%= f.text_field :registration_number, class:"registration_number", autofocus: true, placeholder:"2021" %>
          </div>
        </div>

        <div class="with_announce">
          <div class="colmun">
            <div><span class="must">必須</span></div>
            <%= f.label :vehicle_inspection_day, "車検満了日" %>
          </div>
          <%= f.text_field :vehicle_inspection_day, class:"new_form_input", autofocus: true, placeholder:"例）20210211" %>
          <div><span class="announce">※ハイフン不要です。</span></div>
        </div>

        <div class="with_announce">
          <div class="colmun">
            <div><span class="must">必須</span></div>
            <%= f.label :registered_year, "初度登録日" %>
          </div>
          <%= f.text_field :registered_year, class:"new_form_input", autofocus: true, placeholder:"例）20100211" %>
          <div><span class="announce">※ハイフン不要です。</span></div>
        </div>

        <% if @car.id == nil %>
          <%= f.submit "作成する", class:"new_matter_btn"%>
        <% else %>
          <%= f.submit "変更する", class:"new_matter_btn"%>
        <% end %>
      </div>
      <%= render 'share/error_messages', model: f.object %>
    </div>
    <% end %>
  </div>
</div>