<div class="matter_contents">
  <%= render 'share/menu_bar.html.erb'%>
  <div class="matter_side">
    <%= form_with model:@matter, class:"new_form_area", local: true do |f|%>
    <div>
      <h1 class="new_matter"><span class="title">新規案件作成</span></h1>
      <h4>各項目を入力し、新規案件を作成しましょう。</h4>
      <%= render 'share/error_messages', model: f.object %>
    
        <div class="field">
          <div class="colmun">
            <div><span class="must">必須</span></div>
            <%= f.label :name, "案件名" %>
          </div>
          <%= f.text_field :name, class:"new_form_input", autofocus: true %>
        </div>

        <div class="field">
          <div class="colmun">
            <div><span class="must">必須</span></div>
            <%= f.label :sales_person, "先方の担当者" %>
          </div>
          <%= f.text_field :sales_person, class:"new_form_input", autofocus: true, placeholder:"例）田中太郎" %>
        </div>

        <div class="with_announce">
          <div class="colmun">
            <div><span class="must">必須</span></div>
            <%= f.label :kana_sales_person, "フリガナ" %>
          </div>
          <%= f.text_field :kana_sales_person, class:"new_form_input", autofocus: true, placeholder:"例）タナカタロウ" %>
          <div><span class="announce">※全角カタカナのみ使用可能です。</span></div>
        </div>

        <div class="with_announce">
          <div class="colmun">
            <div><span class="must">必須</span></div>
            <%= f.label :phone_number, "電話番号" %>
          </div>
          <%= f.text_field :phone_number, class:"new_form_input", autofocus: true, placeholder:"例）031111222" %>
          <div><span class="announce">※ハイフン不要です。</span></div>
        </div>

        <div class="with_announce">
          <div class="colmun">
            <div><span class="must">必須</span></div>
            <%= f.label :cell_phone_number, "携帯電話" %>
          </div>
          <%= f.text_field :cell_phone_number, class:"new_form_input", autofocus: true, placeholder:"例）09011113333" %>
          <div><span class="announce">※ハイフン不要です。</span></div>
        </div>

        <div class="field">
          <div class="colmun">
            <div><span class="must">必須</span></div>
            <%= f.label :postal_code, "郵便番号" %>
          </div>
          <%= f.text_field :postal_code, class:"new_form_input", autofocus: true, placeholder:"例）123-4567" %>
        </div>

        <div class="field">
          <div class="colmun">
            <div><span class="must">必須</span></div>
            <%= f.label :municipality, "市区町村" %>
          </div>
          <%= f.text_field :municipality, class:"new_form_input", autofocus: true, placeholder:"例）渋谷区神南" %>
        </div>

        <div class="field">
          <div class="colmun">
            <div><span class="must">必須</span></div>
            <%= f.label :address, "番地" %>
          </div>
          <%= f.text_field :address, class:"new_form_input", autofocus: true, placeholder:"例）1-18-2" %>
        </div>

        <div class="field">
          <div class="colmun">
            <div><span class="optional">任意</span></div>
            <%= f.label :building, "建物名" %>
          </div>
          <%= f.text_field :building, class:"new_form_input", autofocus: true, placeholder:"例）フレーム神南坂４階" %>
        </div>
        <% if @matter.id == nil %>
          <%= f.submit "作成する", class:"new_matter_btn"%>
        <% else %>
          <%= f.submit "変更する", class:"new_matter_btn"%>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>