    <%= form_with(url:chosed_csv_export_customers_path(format: :csv), method: :get, local: true) do |f|%>
    <div class="select_columns_area">
      <div>出力するデータを指定する</div>
      <div class="select_columns">
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox",checked: true},"id", false%>案件ID</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox",checked: true},"name", false%>案件名</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox",checked: true},"sales_person", false%>先方の担当者</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox",checked: true},"kana_sales_person", false%>先方の担当者(フリガナ)</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox",checked: true},"email", false%>メールアドレス</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox",checked: true},"phone_number", false%>電話番号</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox",checked: true},"cell_phone_number", false%>携帯電話番号</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox",checked: true},"postal_code", false%>郵便番号</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox",checked: true},"municipality", false%>市区町村</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox",checked: true},"address", false%>番地</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox",checked: true},"building", false%>建物名</div>
      </div>
    </div>
    <%if @customers.present?%>
      <%= link_to "csv出力", search_customers_path(format: :csv, phone_num:params[:phone_num], name:params[:name],id:params[:id]), class:["matter_edit_btn","matter_contactlog_btn","matter_csv_right"],id:"search_csv_export_btn" %>
      <%= f.submit "選択したデータをcsv出力", class:"chosed_csv_export_btn",id:"chosed_csv_export_btn", data: { disable_with: false } %>
    <%end%>
     <table class="matter_table_record">
        <% if @customers.present?%>
          <tr class="table_title">
            <th><span class="clear_btn" id="clear_btn">チェックを外す</span></th>
            <th>お客様ID</th>
            <th>お客様名</th>
            <th>電話番号</th>
            <th>携帯電話番号</th>
            <th>担当</th>
          </tr>
          <% @customers.each do |customer| %>
          
          <tr class="table_records">
            <td><%= f.check_box "id[]",{class:"checkbox",checked: true},customer.id, false%></td>
            <td><%= customer.id%></td>
            <td><%= link_to customer.kana_name,customer_path(customer.id) , class:"table_record"%></td>
            <td><%= customer.phone_number%></td>
            <td><%= customer.cell_phone_number%></td>
            <td><%= customer.user.name%></td>
          </tr>
          <% end %>
        <% else %>
          <p class="search_announce">該当のデータはありません</p>
          <p class="search_announce">検索条件をもう一度ご確認ください。</p>
        <% end %>
      </table>
      <%end%>