    <%= form_with(url:chosed_csv_export_customers_path(format: :csv), method: :get, local: true) do |f|%>
    <div class="select_columns_area">
      <h4>出力するデータを指定する</h4>
      <div class="select_column"><span class="clear_btn_for_columns" id="clear_btn_for_columns_false">すべてチェックを外す</span></div>
      <div class="select_column"><span class="clear_btn_for_columns" id="clear_btn_for_columns_true" style="display:none;">すべてチェックをつける</span></div>
      <div class="select_columns">
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox_for_columns",checked: true},"id", false%>お客様ID</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox_for_columns",checked: true},"name", false%>お客様名</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox_for_columns",checked: true},"kana_name", false%>お客様名（フリガナ）</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox_for_columns",checked: true},"email", false%>メールアドレス</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox_for_columns",checked: true},"phone_number", false%>電話番号</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox_for_columns",checked: true},"cell_phone_number", false%>携帯電話番号</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox_for_columns",checked: true},"postal_code", false%>郵便番号</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox_for_columns",checked: true},"municipality", false%>市区町村</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox_for_columns",checked: true},"address", false%>番地</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox_for_columns",checked: true},"building", false%>建物名</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox_for_columns",checked: true},"hobby", false%>趣味</div>
        <div class="select_column"><%= f.check_box "colmun[]",{class:"checkbox_for_columns",checked: true},"memo", false%>セールスメモ</div>

      </div>
    </div>
    <%if @customers.present?%>
      <%= link_to "csv出力", search_customers_path(format: :csv, phone_num:params[:phone_num], name:params[:name],id:params[:id]), class:["matter_edit_btn","matter_contactlog_btn","matter_csv_right"],id:"search_csv_export_btn" %>
      <%= f.submit "選択したデータをcsv出力", class:"chosed_csv_export_btn",id:"chosed_csv_export_btn", data: { disable_with: false } %>
    <%end%>
     <table class="matter_table_record">
        <% if @customers.present?%>
          <tr class="table_title">
            <th><span class="clear_btn_for_records" id="clear_btn_for_records_false">すべてチェックを外す</span><span class="clear_btn_for_records" id="clear_btn_for_records_true" style="display:none;">すべてチェックをつける</span></th>
            <th>お客様名</th>
            <th>電話番号</th>
            <th>携帯電話番号</th>
            <th>担当</th>
          </tr>
          <% @customers.each do |customer| %>
          
          <tr class="table_records">
            <td><%= f.check_box "id[]",{class:"checkbox_for_record",checked: true},customer.id, false%></td>
            <td><%= link_to customer.kana_name,customer_path(customer.id) , class:"table_record"%></td>
            <td><%= customer.phone_number%></td>
            <td><%= customer.cell_phone_number%></td>
            <td><%= customer.user.name%></td>
          </tr>
          <% end %>
        <% else %>
          <p class="search_announce">該当のデータはありません</p>
          <p class="search_announce">検索条件をもう一度ご確認ください。</p>
        <% end %>
      </table>
      <%end%>