<%= form_with url:search_customers_path, class:"search_form_area", method: :get, local: true do |f|%>
    <div class="search_main_content">
      <h3><span class="title">顧客を検索する</span></h3>
      <div>
        <div class="search_forms_upper">
          <div class="search_form">
            <div class="search_label"><%= f.label :phone_num,"電話番号" %></div>
            <div><%= f.text_field :phone_num, class:"search_input", placeholder:"ハイフン不要"%></div>
          </div>

          <div class="search_form">
            <div class="search_label"><%= f.label :id,"顧客ID" %></div>
            <div><%= f.text_field :id, class:"search_input", placeholder:"例）482"%></div>
          </div>

          <div class="search_form">
            <div class="search_label"><%= f.label :name,"お客様名" %></div>
            <div><%= f.text_field :name, class:"search_input", placeholder:"カタカナで入力可"%></div>
          </div>
        </div>
        <%= f.submit "検索する", class:["team_submit_btn", "search_submit_btn"]%>
      </div>
    </div>
<% end %>