<%# エラーの表示 %>
<div class="error_message_area">
  <div class="error_messages"><%= render "devise/shared/error_messages", resource: resource %></div>
</div>
<%#/ エラーの表示 %>

<div class="contents">
  <h2 class="registration_title"><span class="registration_title_str">新規登録</span></h2>
  <div class="forms">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="field">
      <div class="colmun">
        <div><span class="must">必須</span></div>
        <%= f.label :name, "氏名" %>
      </div>
      <%= f.text_field :name, class:"form", autofocus: true, autocomplete: "name", placeholder:"例）田中太郎" %>
    </div>

    <div class="field">
      <div class="colmun">
        <div><span class="must">必須</span></div>
        <%= f.label :email %>
      </div>
      <%= f.email_field :email, class:"form", autofocus: true, autocomplete: "email", placeholder:"例）tanaka@example.com"%>
      <div><span class="announce">・業務でご利用のアドレスを入力してください。</span></div>
    </div>

    <div class="field">
      <div class="colmun">
        <div><span class="must">必須</span></div>
        <%= f.label :password, "パスワード"%>
      </div>
      <%= f.password_field :password, class:"form", autocomplete: "new-password", placeholder:"半角英数字6文字以上でお願いします。" %>
    </div>

    <div class="field">
      <div class="colmun">
        <div><span class="must">必須</span></div>
        <%= f.label :password_confirmation, "パスワード（確認用）" %>
      </div>
      <%= f.password_field :password_confirmation, class:"form", autocomplete: "new-password" ,placeholder:"先ほどのパスワードを入力してください。"%>
    </div>

    <div class="field">
      <div class="colmun">
        <div><span class="must">必須</span></div>
        <%= f.label :password_confirmation, "所属" %>
      </div>
      <%= f.collection_select :team_id, Team.all, :id, :name, {prompt: "チームを選択"},{class: "form"}%>
    </div>

    <div class="actions">
      <%= f.submit "登録する", class:"submit_btn"%>
    </div>
    <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>


