<div class="matter_contents">
  <%= render 'share/menu_bar.html.erb'%>
  <div class="matter_side_index">
    <%= render 'share/search_matter'%>
    <div class="matter_main_contents">

      <h1><span class="title">検索結果：<%= @matters.count%>件</span></h1>

      <%if @matters.present?%>
        <%= link_to "csv出力", search_matters_path(format: :csv, phone_num:params[:phone_num], name:params[:name],id:params[:id]), class:["matter_edit_btn","matter_contactlog_btn","matter_csv_right"] %>
      <%end%>

      <%= render 'share/results'%>
    </div>
  </div>
</div>