<div class="matter_contents">
  <%= render 'share/menu_bar.html.erb'%>
  <div class="matter_area">
    <div class="left_area">
      <%# 案件詳細を表示 %>
      <div class="matter_info">
        <h2 class="new_matter"><span class="title"><%= @matter.name%></span></h2>

        <div class="field">
          <div class="matter_title">先方のご担当者：</div>
          <span class="matter_text"><%= @matter.sales_person%> / <%= @matter.kana_sales_person%> 様</span>
        </div>

        <div class="field">
          <div class="matter_title">電話番号：</div>
          <span class="matter_text"><%= @matter.phone_number%></span>
          <div class="matter_title">携帯電話：</div>
          <span class="matter_text"><%= @matter.cell_phone_number%></span>
        </div>

        <div class="field">
          <div class="matter_title">住所：</div>
          <span class="matter_text"><%= @matter.postal_code%></span>
          <div><span class="matter_text"><%= @matter.municipality%><%= @matter.address%><%= @matter.building%></span></div>
        </div>

        <div class="field">
          <div>担当者：</div>
          <%= @matter.user.team.name%><br>
          <%= @matter.user.name%>
        </div>

        <div class="matter_btn_area">
          <%= link_to "コンタクトログ一覧", matter_contact_logs_path(@matter.id) , class:["matter_edit_btn","matter_contactlog_btn"] %>
          <% if @matter.user.id == current_user.id%><%= link_to "編集する", edit_matter_path(@matter.id), class:"matter_edit_btn" %><%end%>
          <% if @matter.user.id == current_user.id%><%= link_to "削除する", matter_path(@matter.id), class:["matter_edit_btn","matter_destroy_btn"], method: :delete, data:{ confirm: '本当に削除して良いですか?', cancel: 'やめる', commit: '削除する'}, title: '削除確認' %><%end%>
        </div>
        <div class="matter_btn_area">
          <%= link_to "csv出力", matter_path(format: :csv), class:["matter_edit_btn","matter_contactlog_btn"] %>
        </div>
      </div>
      <%# /案件詳細を表示 %>
    </div>

    
    <div class="right_area">
         <%# コンタクトログ入力フォームを表示 %>
      <div class="contact_log_area">
        <h5><span class="title">コンタクトログを残す</span></h5>
        <%= form_with model:[@matter, @contact_log], local: true do |f|%>
        <div class="contact_log_box_side">
          <%= f.label :status, "対応あり", class:"contact_action_required_box"%>
          <%= f.check_box :status, {class:"contact_action_required_box"}, "要対応", nil%>
        </div>
        <div class="contact_log_column">※チェックを入れると、担当者に通知が届きます。</div>
            
        <div class="contact_log_form_side">
          <%= f.text_area :comment, size: "55x3", class:"contact_log_form", placeholder: "テキストを入力"%>
          <%= f.submit "保存する", class:"contact_log_btn"%>
        </div>
        <% end %>
      </div>
      <%# /コンタクトログ入力フォームを表示 %>

      <%# 直近のコンタクトログを表示 %>
      <div class="contact_logs_area">
    
        <h5><span class="title">直近のコンタクトログ</span></h5>
        <%= render 'share/contact_logs'%>
        
      </div>
    </div>
    <%# /直近のコンタクトログを表示 %>
  </div>
</div>