<div class="matter_contents">
  <%= render 'share/menu_bar.html.erb'%>
  <div class="matter_area">
    <div class="left_area">
      <%# 案件詳細を表示 %>
      <div class="matter_info">
        <h2 class="new_matter"><span class="title">顧客情報</span></h2>

        <div class="field">
          <div class="matter_title">お客様名：</div>
          <span class="matter_text"><%= @customer.name%> / <%= @customer.kana_name%> 様</span>
        </div>

        <div class="field">
          <div class="matter_title">電話番号：</div>
          <span class="matter_text"><%= @customer.phone_number%></span>
          <div class="matter_title">携帯電話：</div>
          <span class="matter_text"><%= @customer.cell_phone_number%></span>
          <div class="matter_title">email：</div>
          <span class="matter_text"><%= @customer.email%></span>
        </div>

        <div class="field">
          <div class="matter_title">住所：</div>
          <span class="matter_text"><%= @customer.postal_code%></span>
          <div><span class="matter_text"><%= @customer.municipality%><%= @customer.address%><%= @customer.building%></span></div>
        </div>

        <div class="field">
          <div>担当者：</div>
          <%= @customer.user.team.name%><br>
          <%= @customer.user.name%>
        </div>

        <div class="matter_btn_area">
          <%= link_to "コンタクトログ一覧", customer_contact_logs_path(@customer.id) , class:["matter_edit_btn","matter_contactlog_btn"] %>
          <% if @customer.user.id == current_user.id%>
            <%= link_to "編集する", edit_customer_path(@customer.id), class:"matter_edit_btn" %>
            <%= link_to "削除する", customer_path(@customer.id), class:["matter_edit_btn","matter_destroy_btn"], method: :delete, data:{ confirm: '本当に削除して良いですか?', cancel: 'やめる', commit: '削除する'}, title: '削除確認' %>
          <%end%>
        </div>
        <div class="matter_btn_area">
          <%= link_to "csv出力", customer_path(format: :csv), class:["matter_edit_btn","matter_contactlog_btn"] %>
          <% if @customer.user.id == current_user.id%>
            <%= link_to "車両を追加する", new_car_path(customer_id:@customer.id), class:"matter_edit_btn" %>
          <%end%>
        </div>
      </div>
      <%# /案件詳細を表示 %>
    </div>

    
    <div class="right_area">
         <%# コンタクトログ入力フォームを表示 %>
      <div class="contact_log_area">
        <h5><span class="title">コンタクトログを残す</span></h5>
        <%= form_with model:[@customer, @contact_log], local: true do |f|%>
        <div class="contact_log_box_side">
          <%= f.label :status, "対応あり", class:"contact_action_required_box"%>
          <%= f.check_box :status, {class:"contact_action_required_box"}, "要対応", nil%>
        </div>
        <div class="contact_log_column">※チェックを入れると、担当者に通知が届きます。</div>
            
        <div class="contact_log_form_side">
          <%= f.text_area :comment, size: "55x3", class:"contact_log_form", placeholder: "テキストを入力"%>
          <%= f.submit "保存する", class:"contact_log_btn"%>
        </div>
        <% end %>
      </div>
      <%# /コンタクトログ入力フォームを表示 %>

      <%# 直近のコンタクトログを表示 %>
      <div class="contact_logs_area">
    
        <h5><span class="title">直近のコンタクトログ</span></h5>
        <%= render 'share/contact_logs'%>
        
      </div>
    </div>
    <%# /直近のコンタクトログを表示 %>
  </div>
</div>