<div class="contents">
  <h2 class="registration_title"><span class="registration_title_str">ログイン</span></h2>
  <div class="forms">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <div class="colmun">
        <div><span class="must">必須</span></div>
        <%= f.label :email %>
      </div>
      <%= f.email_field :email, class:"form", autofocus: true, autocomplete: "email", placeholder:"例）tanaka@example.com"%>
    </div>

    <div class="field">
      <div class="colmun">
        <div><span class="must">必須</span></div>
        <%= f.label :password, "パスワード"%>
      </div>
      <%= f.password_field :password, class:"form", autocomplete: "new-password", placeholder:"パスワードを入力してください" %>
    </div>

    <div class="actions">
      <%= f.submit "ログインする", class:"submit_btn"%>
    </div>
    <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>