<!DOCTYPE html>
<html>
  <head>
    <title>SHIEN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href = "https://unpkg.com/sanitize.css" rel = " stylesheet " type="text/css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    
  </head>

  <body>
    <div class="menu_var">
      <H1><%= link_to "SHIEN", root_path, class:"shien_btn"%></H1>
      <div class="right_side">
        <% if user_signed_in? %>
        <div class="user_name">こんにちは、<%= current_user.name%>さん</div>
        <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"signin_btn"%></div>
        <% else %>
        <div><%= link_to "簡単ログイン", users_guest_sign_in_path, method: :post, class:["signin_btn", "easy_signin_btn"]%></div>
        <div><%= link_to "ログイン", new_user_session_path, class:"signin_btn"%></div>
        <div><%= link_to "新規登録", new_user_registration_path, class:"signin_btn"%></div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
